.flex-container{
    height: 100vh;
    border: 2px solid;
    display: flex;
    padding: 10px;
    gap: 5px;
    background-color: bisque;
    flex-wrap: wrap-reverse;
    align-content:end;
    align-items: end;
    
}
.flex-container>div{
    height: 100px;
    border: 2px solid;
    
}
.flex-child1{
    background-color: aqua;
    flex-basis: 400px;
    align-items: center;
    
}
.flex-child2{
    background-color: aquamarine;
    flex-basis: 400px;
    
    
}
.flex-child3{
    background-color: blue;
    flex-basis: 400px;
    
}
.flex-child4{
    background-color: aqua;
    flex-basis: 400px;
    
}
.flex-child5{
    background-color: aquamarine;
    flex-basis: 400px;
    
    
}

    